package components

templ SubmitButton() {
	@SubmitButtonStyle()
	<button class="submit-button" type="submit">{children...}</button>
}

templ SubmitButtonStyle() {
	<style>
		.submit-button {
			height: 80px;
			padding: 14px 28px;
			background-color: #309689;
			text-decoration: none;
			color: #ffffff;
			border-radius: 20px;
			border: none;
			font-size: 18px;
			font-style: normal;
			font-weight: 600;

		}
	</style>
}
