package views

import "hh/views/components"
import "hh/views/layout"

templ Main() {
    @layout.Layout(layout.LayoutProps{
        Title: "Найди работу мечны",
        MetaDescription: "Сайт по поиску работы мечты",
    }) {
        <main>
        @layout.Header() {
            @components.Title("Найди работу своей мечты")
            @components.SubTitle("Простой поиск работы")
        }
        Main
        </main>

    }
}

